NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_LATEST_APP_VERSION_CODE=17
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_TAWKTO_EMBED_URL=

AUTH_SECRET= # https://generate-secret.vercel.app/32

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBA5qCJgUVW3_OZYsEVHXwLfJD3d06wFZ4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=textbee-d5198.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=textbee-d5198
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=textbee-d5198.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=166686837640
NEXT_PUBLIC_FIREBASE_APP_ID=1:166686837640:web:513da8fd89d94e4026083d

DATABASE_URL=mongodb://adminUser:adminPassword@textbee-db:27017/textbee?authSource=admin

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

ADMIN_EMAIL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA #test
